/*
  Tankersparnis.net

  Dunkles Farbschema

  Farben:
  https://www.color-hex.com/color-palette/1294
  https://www.color-hex.com/color-palette/110397

  Hintergrundbild:
  https://php-noise.com
*/
:root {
  --bgImg: url("bg-dark.png");
  --wrapperColor: #323232;
  --fontColor: #b3cde0;
  --linkColor: #b3cde0;
  --linkHover: #6497b1;
  --highlightColor: #e58272;
  --highlightPositiveColor: #72E582;
  --hrColor: rgba(179, 205, 224, 0.2); /* #b3cde0 */
}
