/**
 * Tankersparnis.net
 *
 * light color scheme
 *
 * Colors:
 * https://www.color-hex.com/color-palette/1294
 * https://www.color-hex.com/color-palette/110397
 *
 * Background image:
 * https://php-noise.com
 */
:root {
  --bgImg: url("/assets/images/bg-light.png");
  --wrapperColor: #eeeeee;
  --fontColor: #005b96;
  --linkColor: #005b96;
  --linkHover: #03396c;
  --highlightColor: #c13923;
  --highlightPositiveColor: #23c139;
  --hrColor: rgba(0, 91, 150, 0.2); /* #005b96 */
}
